# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Credentials
/credentials
credentials/
*.pem
*.key
client_secret_*.json
*_credentials.json
/temp_frames_gw

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db

# Temporary directories
/temp_frames_gw
/one-time-use-scripts-and-outputs

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

